/* Navbar.css */

.navbar {
    /* Your other styles */
  
    .nav-menu {
      display: none; /* Initially hide the mobile menu */
    }
  
    &.mobile-menu-open {
      .nav-menu {
        display: block; /* Show the mobile menu when the class is present */
      }
    }
  }
  

  .mobile-menu-toggle {
    cursor: pointer;
    font-size: 24px; /* Adjust the font size as needed */
    padding: 10px; /* Add padding for better touch interaction */
    color: #333; /* Set the color to your preference */
  }
  
  .mobile-menu-toggle:hover {
    color: #555; /* Change color on hover if desired */
  }